@font-face {
    font-family: "DTM";
    src: url("DTM-Mono.woff");
}

body {
    background-color: black;
}

nav {
    font-family: DTM;
    color: white;
    font-size: 28px;
}

a {
    color: mediumblue;
    text-decoration-line: unset;
}

a:hover {
    color: darkred;
}

h1, h2, h3, h4, h5, h6 {
    font-family: DTM;
    font-weight: bold;
    color: white;
}

p, b, i {
    font-family: DTM;
    color: white;
}

img {
    display: block;
    margin: auto;
}

button {
    font-family: DTM;
    background: white;
    color: black;
    font-weight: bolder;
    display: block;
    margin: auto;
    font-size: xx-large;
}

button:hover{
    font-family: DTM;
    background: darkred;
    color: white;
    font-weight: bolder;
    display: block;
    margin: auto;
    font-size: xx-large;